fastapi
uvicorn
langserve[all]
langchain
langchain-google-genai
langchain-community
requests
pydantic
nest_asyncio
duckduckgo-search
jinja2
python-multipart
pypdf
sqlalchemy
psycopg2-binary
slowapi
numpy
sentry-sdk
bcrypt
itsdangerous
authlib
